<div 
style="
width: 100%; 
height: 200px; 
display: flex; 
align-items: center; 
justify-content: center;
"
>
  <button (click)="showFormMethod()">Show / Hide</button>
</div>

<form 
[formGroup]="form"
*ngIf="showForm" 
style="border: 2px solid #ccc; padding: 20px; margin-bottom: 20px; width: 50%; margin: auto;">
  <div style="display: flex; gap: 10px; width: 100%; margin-bottom: 20px;">
    <input formControlName="name" type="text" placeholder="Name" style="flex-grow: 1;">
    <input formControlName="email" type="email" placeholder="Email" style="flex-grow: 1;">
  </div>

  <div style="display: flex; gap: 10px; width: 100%; margin-bottom: 20px;">
    <input formControlName="city" type="text" placeholder="City" style="flex-grow: 1;">
  </div>

  <h2>Add Contact Info</h2>
  <button (click)="addContact()">Add Contact</button>

  <div formArrayName="contacts" style="margin-bottom: 20px;">
    <div *ngFor="let control of contacts.controls; let i = index" style="border: 1px dotted #333; padding: 20px; margin-bottom: 10px; position: relative; padding-top: 35px;">
      
      <button
      (click)="deleteContact(i)"
      style="
      position: absolute;
      top: 0;
      right: 0;
      background: red;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      ">
        Delete
      </button>

      <ng-container [formGroupName]="i">
        <div style="display: flex; gap: 10px; width: 100%; margin-bottom: 20px;">
          <input formControlName="number" type="text" placeholder="Number" style="flex-grow: 1;">
          <input formControlName="type" type="text" placeholder="Type" style="flex-grow: 1;">
        </div>
        <div style="display: flex; gap: 10px; width: 100%; margin-bottom: 20px;">
          <textarea formControlName="description" style="flex-grow: 1;" placeholder="Description"></textarea>
        </div>
      </ng-container>
    </div>
  </div>

  <button type="submit" (click)="onSubmit()">Submit</button>
</form>

<pre>
  {{ form.value | json }}
</pre>

<div style="display: flex; justify-content: center;">
  <table class="table-style">
    <tbody>
      <tr class="table-header">
        <th class="table-cell">Name</th>
        <th class="table-cell">Email</th>
        <th class="table-cell">City</th>
      </tr>
      <tr>
        <td class="table-cell">{{ form.value.name }}</td>
        <td class="table-cell">{{ form.value.email }}</td>
        <td class="table-cell">{{ form.value.city }}</td>
      </tr>
    </tbody>
  </table>
</div>
